.container {
    width: 70%;
    margin: auto;
}

.container_fluid {
    width: 100%;
    margin: auto;
}


.aro_img{
    width: 100%;
    position: relative;
    svg{
        position: absolute;
        top: -10rem;
        left: 0;
        width: 100%;
    }
}

.circle-next{
    width: 1rem;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background-color: aliceblue;
}
.swiper-pagination-bullet{
    background-color: hotpink;
}
@media only screen and (max-width:1220px) {
    .aro_img{
        margin-top: -5%;
    }
}

@media only screen and (max-width:1024px) {
    .aro_img{
        margin-top: -7%;
    }
}

@media only screen and (max-width:600px) {
    .aro_img{
        height: 6rem;
        margin-top: -12%;
    }
}
@media only screen and (max-width:767px) {
    .aro_img{
        margin-top: -13%;
    }
}