@font-face {
    font-family: title1;
    src: url(../../font/Cinzel-Medium.ttf);
}

@font-face {
    font-family: title2;
    src: url(../font/Fuggles-Regular.ttf);
}


@font-face {
    font-family: pera;
    src: url(../font/EBGaramond-Regular.ttf);
}


@font-face {
    font-family: peraItalic;
    src: url(../font/OperatorMono-MediumItalic.otf);
}
// NEW FONT ADD
@font-face {
    font-family:Dosis;
    src: url(../font/Dosis-Medium.ttf);
}



// ADD NEW CSS ****************************/
.heading-xl{
    font-size: 6rem;
    font-family:Playfair Display;
    font-weight: 500;
    opacity: .9;
    background: linear-gradient(108.7deg, #eb4556  0%, #ff4255 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}
.heading-lg{
    font-size: 4rem;
    font-family: 'MonteCarlo', cursive;
    opacity: .9;
    background: linear-gradient(108.7deg, rgb(223, 3, 127) 0%, rgb(39, 0, 74) 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.heading-md{
    font-size: 2.4rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
    background: linear-gradient(90deg,#aa2060 0%, #0a1631 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.heading-sm{
    font-size: 1.6rem;
    font-family: 'Roboto', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    font-weight: 500;
    opacity: .9;
    color: $black;
}
.heading-xs{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    opacity: .9;
    color: $black;
}
.para-lg{
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    line-height: 3rem;
    opacity: .9;
}
.para-md{
    font-size: 1.7rem;
    font-family: 'Playfair Display', serif;
    line-height: 2.6rem;
    opacity: .8;
}
.para-sm{
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif;
    line-height: 2.4rem;
    opacity: .8;
}
// 1st title
.custom_title1{
    text-align: center;
    h2{
        position: relative;
        display: inline-block;
    }

   .desc{
        text-align: center;
        margin-top: 3rem;
        margin-inline: auto;
        width: 35%;
   }
}

// 2nd title
.custom_title2{
    h2{
        position: relative;
        display: inline-block;
        padding-right: 1rem;
    }
    p{
        text-align: left;
        margin-top: 2rem;
        margin-inline: auto;
        margin-bottom: 10rem;
    }
}



@media only screen and (max-width:1024px){
    .custom_title1{
        .desc{
            width: 90% !important;
        }
    }

    .custom_title2{
        h2{
            font-size: 4.5rem;

        }
        p{
            margin-top: 4rem;
            font-size: 1.7rem;
            line-height: 2.8rem;
        }
    }
}

@media only screen and (max-width:600px){
    .custom_title1{
        h2{
            font-size: 2.6rem;
        }
        .desc{
            width: 100% !important;
        }
    }

}
