.rental_product {
    width: 100%;

    .rental_product_text {
        width: 100%;
        text-align: center;

        p {
            width: 60%;
            margin: auto;
        }
    }

    .rental_product_category {
        width: 100%;
        padding: 10rem 0;

        .category_list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;

            .single_list {
                width: 15rem;
                background-color: #fff;
                border-radius: $ui_border_radius;
                box-shadow: $ui_box_shadow;
                overflow: hidden;
                transition: .25s ease-in-out;
                &:hover {
                    box-shadow: $ui_box_shadow_hover;
                    transform: translateY(-.5rem);
                    p.title{
                        color: $secondary;
                    }
                }
                
                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    img {
                        width: 100%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        object-position: center;
                        padding: 1rem;
                        border-radius: $ui_border_radius;
                        border-bottom: 1px solid $border;
                    }

                    .category-detail {
                        margin: auto;
                        padding: 1rem;
                        text-align: center;
                        width: 100%;
                        p {
                            transition: .15s ease-in-out;
                            font-size: 1.6rem;
                            font-weight: 500;
                            &:hover {
                                color: $secondary;
                            }
                        }
                        //p  not the last-child
                        p:not(:first-child) {
                            font-size: 1.4rem;
                            color: rgba(0,0,0,.8705882353);
                            transition: .3s;
                            padding-bottom: .5rem;
                            text-align: center;
                            opacity: .7;

                        }
                    }
                }
            }
        }
    }
}