.card_1{
    width: 23rem;
    aspect-ratio: 1/1.3;
    &:hover{
        .raw_items_image{
            .image_items_icon_box{
                position: absolute;
                bottom: 1rem;
                right: 0;
                left: 0;
                margin: auto;
                opacity: 1;
            }
        }
    }
    .raw_items_image{
        width: 100%;
        position: relative;
        overflow: hidden;
        .image_sec{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .image_items_icon_box{
            position: absolute;
            bottom: -5rem;
            right: 0;
            left: 0;
            margin: auto;
            width: 65%;
            height: 4.5rem;
            background-color: rgba(255, 255, 255, 0.938);
            color: $black_light;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
            opacity: 0;
            transition: 0.4s;
            .image_items_icon{
                font-size: 2rem;
                cursor: pointer;
                color: $black_light;
                a[title]{
                    background-color: rgba(0, 0, 0, 0.884);
                }
            }
        }
    }
    .raw_items_text{
        width: 100%;
        height: 5rem;
        text-align: center;
        font-size: 1.5rem;
        p{
            padding-top: 1rem;
            color: $black_light;
            transition: 0.3s;
            cursor: pointer;
            &:hover{
                color: rgb(131, 129, 129);
            }
        }
        span{
            color:$blue;
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 768px) {
    .card_1{
        width: 10rem;
        aspect-ratio: 1/1.3 !important;
    }
}
