.event{
    width: 70%;
    margin: auto;
    background-color: $white;
}

.eventCard_md{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 15rem;
    .img_area{
        img {
            width: 40rem;
            object-fit: cover;
            aspect-ratio: 1/1.2;
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
    }
    .custom_title2{
        width: 52rem;
    }
}


.eventCard_sm{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 10rem;
    .img_area{
        img {
            width: 40rem;
            object-fit: cover;
            aspect-ratio: 1/1.2;
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
    }
    .custom_title2{
        width: 52rem;
    }
}

@media only screen and (max-width:1440px) {
    .event{
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width:1024px) {
    .event{
        width: 98%;
    }
    .eventCard_md{
        .img_area{
            width: 50rem;
            height: 60rem;
        }
    }
    .eventCard_sm{
        .img_area{
            width: 50rem;
            height: 50rem;
        }
    }
}
@media only screen and (max-width:768px) {
    .event{
        width: 98%;
    }
    .eventCard_md{
        .img_area{
            width: 50rem;
            height: 45rem;
        }
    }
    .eventCard_sm{
        .img_area{
            width: 50rem;
            height: 50rem;
        }
    }
}

@media only screen and (max-width:760px) {
    .event{
        width: 98%;
    }
    .eventCard_md{
        flex-direction: column;
        gap: 2rem;
        .img_area{
            width: 95%;
            height: 40rem;
        }
        .custom_title2{
            width: 95%;
        }
    }
    .eventCard_sm{
        flex-direction: column-reverse;
        
        &:nth-child(3) {
           flex-direction: column;
        }
        margin-bottom: 2rem;
        .img_area{
            width: 95%;
            height: 38rem;
        }
        .custom_title2{
            width: 95%;
        }
    }
}