footer {
    width: 100%;
    background-color: #011c39;
}
.footer-title{
    color: #fafafa;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Inter', sans-serif;

}
.footer-link{
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    transition: all .15s ease;
    opacity: .6;
    font-family: 'inter', sans-serif;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
        opacity: 1 !important;
    }

}

.footer-text{
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    transition: all .15s ease;
    opacity: .6;
    font-family: 'inter', sans-serif;
}
.footer_area{
    width: 65%;
    margin: auto;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
}

.address{
    margin-top: 2rem;
    height: fit-content;
    img{
        height: 8rem;
        display: block;
        margin-bottom: 2rem;
    }
    span {
        display: block;
        margin: 1.5rem 0;
        i{
            padding-right: 1rem ;
        }
    }
    .footer_social_btn{
        display: flex;
        gap: .5rem;
        align-items: center;
        a{
            padding-block: .6rem;
            padding-right: 1rem;
            border-radius: 50%;

            i{
                font-size: 1.5rem;
            }
        }
    }
}

.import_link {
    display: flex;
    height: fit-content;
    gap: 5vw;
    .item_area{
        ul{
            margin-top: 2rem;
            li {
                display: flex;
                margin: .5rem 0;
                i{
                    font-size: .5rem;
                    padding: 1rem;
                    padding-left: 0;
                }
            }
        }
    }
}

.map{
    iframe{
        margin-top: 2rem;
        width: 33rem;
        height: 18rem;
    }
}

.copyright{
    text-align: center;
    padding: 2.5rem 0;
    border-top: 1px solid #ffffff4f;
    span {
        color: $white_light;
        font-size: 1.3rem;
        line-height: 2.5rem;
        a{
            color: #a9a9a9;
        }
    }
}




@media only screen and (max-width:1280px){
    .footer_area{
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }
}

@media only screen and (max-width:768px){
    .footer_area{
        .address{
            width: 48%;
        }
        .import_link{
            display: none;
        }
        .map{
            width: 48%;
        }
    }
}

@media only screen and (max-width:600px){
    .footer_area{
        .address{
            width: 100%;
            display: block;
        }
        .map{
            width: 100%;
            display: block;
            iframe{
                width: 100%;
            }
        }
    }
}