#mainNav_area{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.navigation{
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: 99999;
    background-color: #00000080;
    .container{
        width: 70%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo_nav{
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
       a{
        img{
            height: 5rem;
            transform: scale(.7);
        }
       }
    }

    .nav_bars{
        width: fit-content;
        display: flex;
        align-items: center;
        cursor: pointer;
        display: none;
        .hamburger_icon{
            width: 2rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            span{
                width: 100%;
                height: 2px;
                background-color: $white;
            }
        }
    }

    .nav_area{
        display: flex;
        // transition: .30s;
        li{
            a{
                padding-inline: 2rem;
                font-size: 1.4rem;
                color: $white_light;
                font-family: 'roboto', serif;
                font-weight: 400;
                white-space: nowrap;
                &:hover{
                    color: $primary;
                }
                &.active{
                    color: $primary;
                }
            }
        }

    }
    .social_link{
        display: flex;
        align-items: center;
        .btn-grad-sm{
            box-shadow: none !important;
        }
        .signIn{
            color: $white;
            font-size: 1.8rem;
            padding: 1rem;
        }
        .user_dp{
            width: 3rem;
            aspect-ratio: 1/1;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }

}

.nav--white{
    background-color: #ffffffc0;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #eee;
    height: 7rem;
    .nav_bars{
        i{
            color: #000;
        }
        h2{
            color: #000;
        }
    }

    .nav_area{
        li{
            a{
                color: $black;
                &:hover{
                    color: #2182ff;
                    opacity: 1;
                }
                &.active{
                    color: #2182ff;
                    opacity: 1;
                }
            }
        }
    }
    .social_link{
        .search, .cart, .signIn{
            span {
                i {
                    color: $black;
                }
            }
        }
    }
}

.active_nav {
    background: #fff !important;
    .logo_top{
       transform: scale(0);
    }
    .navigation{
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        right: 0;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        transition: .9s;
        animation-name: trans;
        animation-duration: .75s;
        .nav_area{
            li{
                a{
                    color: $black;
                    opacity: .8;

                    &:hover{
                        color: #2182ff;
                        opacity: 1;
                    }
                    &.active{
                        color: #2182ff;
                        opacity: 1;
                    }
                }
            }
        }
        .social_link{
            .signIn{
                span {
                    i {
                        color: $black;
                    }
                }
            }
        }
        .nav_bars{
            span{
                background-color: $black;
            }
        }
    }
}
.nav--white{
    .nav_bars{
        span{
            background-color: $black !important;
        }
    }
}
.page_nav{
    #mainNav_area{
        .navigation {
            padding-block: 1rem;
            .logo_nav{
                a {
                    img {
                        opacity: 1 !important;
                        transform: scale(.9) !important;
                    }
                }
            }
        }
    }
}


@keyframes trans{
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }

}

// RESPONSIVE HERE


@media only screen and (max-width:1780px) {
    .navigation{
        // NE CSS ADD
        .container{
            width: 100%;
        }
    }
}

@media only screen and (max-width:1280px){

    .main_side_nav{
        display: block !important;
    }
}

@media only screen and (max-width:768px) {
    .navigation{
        .nav_area{
            display: none;
        }
        .logo_nav{
            justify-content: space-between;
            a{
                img{
                    height: 3rem;
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
        .nav_bars{
            display: flex;
        }
        // .social_link {
        //     width: 32% !important;
        // }
        // .logo_nav{
        //     width: 68% !important;
        // }

     }
}
