.video{
    padding: 4rem 0;
    .btn_area{
        padding: 4rem 0;
        display: flex;
        justify-content: center;
    }
    p{
        font-size: 1.6rem !important;
    }
}
.video_gallery{
    padding-block: 10rem;
    width: 70%;
    margin: 0 auto;
    .items{
        width: 40rem;
        aspect-ratio: 16/9;
        position: relative;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}
.videos{
    width: 65%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5rem;
    margin-top: 10rem;
    .items {
        width: 38rem;
        height: 20rem;
        position: relative;
        // border: 20px solid #000;
        // border-image-slice:52 101 29 101;
        // border-image-width:20px 20px 20px 20px;
        // border-image-repeat: round stretch;
        // border-image-source:url("../img/border4.jpg");
        // box-shadow: -2px -2px 0px #EF3447;
        iframe {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
    }
}

@media only screen and (max-width:1880px) {

    .videos{
        width: 90%;
        justify-content: center;
    }


}
@media only screen and (max-width:1440px) {

    .videos{
        width: 90%;
        justify-content: center;
    }


}
@media only screen and (max-width:1024px) {

    .videos{
        width: 95%;
        justify-content: center;
        .items{
            width: 30rem;
            height: 18rem;
        }
    }


}
@media only screen and (max-width:600px) {

    .videos{
        width: 95%;
        justify-content: center;
        .items{
            width: 97%;
            height: 20rem;
        }
    }


}
