@media print
{
    body{
        overflow: hidden !important;
    }
    header{
        display: none !important;
    }
    .container_fluid{
        padding-top: 0 !important;
    }
    .main_page_wrapper{
        padding-top: 0 !important;
    }
    .main_page_wrapper .product_container{
        width: 100% !important;
    }
    #filterSidebar{
        display: none !important;
    }
    .main_page_wrapper .product_container .raw{
        padding-inline: 2rem !important;
    }
    .main_page_wrapper .product_container .raw .raw_items_box{
        width: 100% !important;
    }
    .card_1{
        // width: 18% !important;
        // margin-top: 1rem !important;
        // padding-bottom: 3rem;
        box-shadow: none !important;
    }
    .card_1 .card-footer{
        padding: 0 !important;
        border: none !important;
    }
    .card_1 .raw_items_image img{
        aspect-ratio: 1/1.2 !important;
    }
    .card_1 .raw_items_text a{
        font-size: 14px !important;
        opacity: 1 !important;
        color: #000 !important;
    }
    .card_1 .raw_items_text p{
        font-size: 12px !important;
        opacity: 1 !important;
        color: #000 !important;
        padding: 0 !important;
    }
    .card_1 .raw_items_text{
        padding: 0 !important;
        *{
            color: #000 !important;
            opacity: 1 !important;
        }
    }
    .main_page_wrapper .product_container .raw .raw_items_box .raw_items_top{
        display: none !important;
    }
    footer{
        display: none !important;
    }
}