$text-para: #111113de;
$black_light: #000000de;
$title1: #885f21;
$colorBG: #fff7f7;
$colorBG2: #F1F1F1;
$border: #0000001e;

 $form_border: #008FCA;


$primary: #0099ff;
$primary-light: #E3F2FD;
$secondary: #fd3640;
$white: #ffff;
$black:#161c28;
$background: #f2f4f8;
$white_light: #e4e4e4e7;

$blue: rgb(66, 66, 212);

$facebook: #4867AA;
$google: #F6AD01;

$backgraund:#F9F9F9;

$ui-border-radius: 5px;
$ui-box-shadow: 0 1px 1px rgba(0,0,0,.1);
$ui-box-shadow-hover: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
